---
layout: default
title: Tech Blog
permalink: /techblog/
---
<div class="container">
  <div class="blog-posts">
    {% for post in site.posts %}
      {% if post.categories contains "techblog" %}
        <slant>
        <blog-date><div>{{ post.date | date: '%B %d, %Y' }}</div></blog-date>
        </slant>
        <div class="blog-post">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>
          {{ post.excerpt }}
          </p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
