
body
{
    background-color: #CCCCCC;
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:8pt;
}
.ErrorPage 
{
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:8pt;   
}
TD.body
{
    background-color: White;
    width: 800;
    height: 800;
    vertical-align: top;
    font-size: 8pt;
}
.box
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:8pt;
    border: 1pt solid #4682B4;
    text-align: left;
    padding: 2px 2px 0px 2px;
    color: Black;
    background-color: #CCCCCC;
}
.box2 /* Highlights Pub Date for unpublished Courses */
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:8pt;
    border: 1pt solid Yellow;
    text-align: left;
    padding: 2px 2px 0px 2px;
    color: Black;
    background-color: Yellow;
}
.t {background: url(images/boxed-t.png) repeat-x;}
.l {background: url(images/boxed-l.png) repeat-y;}
.b {background: url(images/boxed-b.png) repeat-x;}
.r {background: url(images/boxed-r.png) repeat-y;}
.m
{
    background: url(images/menu-bg.gif) repeat;
    color: #ffffff;
    font-size: 10pt;
    padding: 0px 0px 3px 0px;
    text-align: left;
}
.m2
{
    background: url(images/menu-sub.gif) repeat;
    color: #ffffff;
    font-size: 10pt;
    padding: 0px 0px 3px 0px;
    border-bottom: solid 1px black;
    text-align: left;
    z-index: 999;  /*IE8Fix*/ 
}

.c
{
    background: url(images/blueBar_bg.gif) repeat;
    color: #ffffff;
    font-size: 10pt;
    text-align: left;
}
.tab
{
    background: url(images/Tab.gif) no-repeat;
    width: 150px;
    height: 35px;
}
.container
{
    border-bottom: 1pt solid Silver;
    border-left: 1pt solid Silver;
    border-right: 1pt solid Silver;
    vertical-align: top;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.tab_panel
{
    border: 1pt solid Silver;
    vertical-align: top;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 500px;
}

.label
{
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    white-space: nowrap;
}
/* -------------------------------------------------- */
/* ----------- Status Messages ---------------------- */
/* -------------------------------------------------- */

.status
{
    background-color: #FFFFFF;
    height: 25px;
}
.statusR
{
    background-color: Red;
    height: 25px;
    font-weight: bold;
    color: #FFFFFF;
}
.statusG
{
    background-color: Green;
    font-weight: bold;
    color: #FFFFFF;
    height: 25px;
    padding: 2px 2px 0 2px;
}
.statusY
{
    background-color: Yellow;
    height: 25px;
}




/*#UpdateProgress1
{
	position: absolute;
	top: 100px;
	left: 300px;
	text-align: center;
	background-color: #F0F8FF;
	vertical-align: middle;
	border: 2px solid #0000CD;
}

#UpdateProgress1 table
{
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 14px;
    color: #FF0000;
}
.progresspanel
{
    background-color: Transparent;
    float: left;
    text-align: center;
    vertical-align: middle;
}

*/


.updateProgress 
{
    font-size: 14px;
    font-weight: bold;
	background-color: white;
	padding: 4px;
	position: absolute;
	top: 40%;
	left: 40%;
    border: 2px solid #0000CD;
}

.progresspanel
{
	background-color: Transparent;
	text-align: center;
    vertical-align: middle;
}


/* -------------------------------------------------- */
.button
{
    background-image: url(Images/button.gif);
    background-repeat: no-repeat;
    font-family: "Verdana" , Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #284775;
}

.button:hover
{
    background-image: url(Images/button_rollover.gif);
    background-repeat: no-repeat;
    font-family: "Verdana" , Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #284775;
}

.table_head
{
    border-top: 1pt solid #4682B4;
    border-bottom: 1pt solid #4682B4;
    width: 20%;
    text-align:left;
}

.section
{
    background-color: #cccccc;
}

.error_table
{
    text-align: left;
}

/* -------------------------------------------------- */


.repeaterBody
{
    background-color: White;
    /*width: 800;
    height: 800;*/
    vertical-align: top;
    font-size: 8pt;
}

.repeaterHead
{
    border: 1pt solid #4682B4;
    background-color: #cccccc;
    white-space:nowrap;
    font-weight:bold;
    text-align:left;
}
.repeaterCourse
{
    border: 1pt solid #4682B4;
    background-color: White;
    text-align:left;
}
.repeaterData10L
{
    width:10%; 
    white-space:nowrap; 
    vertical-align:top; 
    text-align:left;
}
.repeaterData50L
{
    width:50%; 
    vertical-align:top; 
    text-align:left;
}

.repeaterHead20R
{
    width:20%; 
    white-space:nowrap; 
    vertical-align:top; 
    text-align:right;
    font-weight:bold;
}
.repeaterData80L
{
    width:80%; 
    vertical-align:top; 
    text-align:left;
}

.repeaterDepartment
{
    width:50%; 
    vertical-align:top; 
    text-align:left;
    font-size:12pt;
    padding-bottom: 10px;
}

.strikeThrough
{
	text-decoration:line-through;
}
/* -------------------------------------------------- */

