/* syntax highlighting import */
@import url(fruity.css);

BODY {
  font-size: 13pt;
  color: black;
  background-color: #c9bad9;
  padding-left: 2em;
  padding-right: 5%;
  padding-bottom: 5%;
}

nav {
  text-align: right;
}

li {
  max-width: 90ex;
}

a {
  cursor: pointer;
  cursor: hand;
  color: #a169e0;
  text-decoration: none;
  target: _blank;
  rel: "noopener noreferrer";
}

a:not(.nohover):hover {
  background-color: #300A24;
  color: #BBB;
}

H1 {color: #a169e0; }
H2 {color: #a169e0; }
H3 {color: #a169e0; }

code,
.code,
pre {
  font-family: "FreeMono", "Courier New", monospace;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 0.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: pre-wrap;
}

div {
	font-size: 13px;
	line-height: 1.8em;
}

img {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}

figcaption {
    font-size: .8em;
    color: #a169e0;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    border: solid 0.15em #a169e0;
    border-top: 0;
    background-color: #5C4033;
    height: 1em;
    line-height: 1em;
    font-style: italic;
    margin-top:-.7em;
    padding-top: .4em;
    padding-bottom: .2em;
    height: 100%;
}

table > thead > tr > th > img {
    font-size: .8em;
    color: #a169e0;
    align: center;
    width: 350px;
    display: block;
    text-align: center;
    border: solid 0.2em #a169e0;
}

table > tbody > tr > td > em {
    font-size: 1em;
    color: #f37320;
    width: 350px;
    display: table-caption;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    border: solid 0.15em #a169e0;
    border-top: 0;
    background-color: #5C4033;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
}

th {
  border-top: 0px;
  border-bottom: 0px;
  border-spacing: 0;
  padding: 0px;
  padding-right: 5px;
  vertical-align: bottom;
}

td {
  border-top: 0px;
  border-bottom: 0px;
  border-spacing: 0;
  padding: 0px;
  padding-right: 5px;
  vertical-align: top;
}

rw {font-style: italic; color: #602020;}
eqn {font-style: italic; color: #202080;}

DIV.equation {font-style: italic; color: #202080; margin: 16px 0px 16px 0px;}
DIV.equation EM {color: red;}

SPAN.equation {font-style: italic; color: #202080;}
SPAN.equation EM {color: red;}

SPAN.program {font-family: monospace;}
SPAN.rw {font-family: monospace; font-style: italic;}


.content {
  display: flex;
}

.container {
  margin:  0 auto;
  padding-top: 1rem;
  flex-direction: column;
  max-width: 864px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
  font-size: 8px;
  font-style:italic;
  color: #a169e0;
}

sidebar {
	font-family: Gill Sans MT, Gill Sans, Gill Sans Std, Verdana, Bitstream Vera Sans,sans-serif;
	letter-spacing: 2px;
	font-size: 1.2rem;
}

HTML {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 100%;
}

#pdfdisplay {
	height: 70vh;
}

.biglambdacontent::after {
  content: ' ';
  background-image: linear-gradient(45deg,
    #c9bad9 0% 15%,
    hsl(0, 53.3%, 47.8%) 20% 30%,
    hsl(28, 85.6%, 49%) 35% 45%,
    hsl(56.3, 87.4%, 46.7%) 50% 60%,
    hsl(132.1, 44.4%, 56.3%) 65% 75%,
    hsl(239.4, 48.6%, 56.5%) 80% 90%,
    #c9bad9 95% 100%
  );
  display: block;
  width: 100%;
  box-sizing: inherit;
  flex: 1;
}

/*
.biglambdacontent::before {
  content: ' ';
  background-image: linear-gradient(60deg,
    #c9bad9 0% 10%,
    hsl(60, 100%, 50%) 10% 20%,
    hsl(120, 100%, 50%) 20% 30%,
    hsl(180, 100%, 50%) 30% 40%,
    hsl(210, 100%, 50%) 40% 50%,
    hsl(240, 100%, 50%) 50% 60%,
    hsl(270, 100%, 50%) 60% 70%,
    hsl(300, 100%, 50%) 70% 80%,
    hsl(360, 100%, 50%) 80% 90%,
    #c9bad9 95% 100%
  );
  display: block;
  width: 10%;
  box-sizing: inherit;
  flex: .05;
}*/

.biglambda {
  display: flex;
  width: 100%;
  line-height: 1em; !important
}

.biglambdacontent {
  font-size:32px;
  background-color: #c9bad9;
  color: #412363;
  font-weight: lighter;
  display: flex;
  flex: 1;
  line-height: 1em; !important
}

*, ::before, ::after {
  box-sizing: inherit;
}

.content {
  display: flex;
}

.container {
  margin:  0 auto;
  padding-top: 1rem;
  flex-direction: column;
  max-width: 864px;
}
