/* syntax highlighting import */
@import url(fruity.css);

BODY {
  font-size: 13pt;
  color: white;
  background-color: #5f4f43;
  padding-left: 2em;
  padding-right: 5%;
  padding-bottom: 5%;
}

li {
  max-width: 90ex;
}

a {
  cursor: pointer;
  cursor: hand;
  color: #f37320;
  text-decoration: none;
  target: _blank;
  rel: "noopener noreferrer";
}

a:not(.nohover):hover {
  background-color: #300A24;
  color: #BBB;
}

H1 {color: #dd4814; font-family: "FreeMono", "Courier New", "Rockwell", monospace;}
H2 {color: #dd4814; font-family: "FreeMono", "Courier New", "Rockwell", monospace;}
H3 {color: #dd4814; font-family: "FreeMono", "Courier New", "Rockwell", monospace;}

code,
.code,
pre {
  font-family: "FreeMono", "Courier New", monospace;
  font-weight: bold;
  border-radius: 0.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: pre-wrap;
}

div {
	font-size: 13px;
	line-height: 1.8em;
}

img {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    border: solid 0.15em #d24d15;
}

figure {
  width: 120%;
  margin: 0;
  padding: 0;
  margin-left: -4em;
}

figcaption {
    font-size: .8em;
    color: #f37320;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    border: solid 0.15em #d24d15;
    border-top: 0;
    background-color: #5C4033;
    height: 1em;
    line-height: 1em;
    font-style: italic;
    margin-top:-.7em;
    padding-top: .4em;
    padding-bottom: .2em;
    height: 100%;
}

table > thead > tr > th > img {
    font-size: .8em;
    color: #d24d15;
    align: center;
    width: 350px;
    display: block;
    text-align: center;
    border: solid 0.2em #d24d15;
}

table > tbody > tr > td > em {
    font-size: 1em;
    color: #f37320;
    width: 350px;
    display: table-caption;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    border: solid 0.15em #d24d15;
    border-top: 0;
    background-color: #5C4033;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
}

th {
  border-top: 0px;
  border-bottom: 0px;
  border-spacing: 0;
  padding: 0px;
  padding-right: 5px;
  vertical-align: bottom;
}

td {
  border-top: 0px;
  border-bottom: 0px;
  border-spacing: 0;
  padding: 0px;
  padding-right: 5px;
  vertical-align: top;
}

rw {font-style: italic; color: #602020;}
eqn {font-style: italic; color: #202080;}

DIV.equation {font-style: italic; color: #202080; margin: 16px 0px 16px 0px;}
DIV.equation EM {color: red;}

SPAN.equation {font-style: italic; color: #202080;}
SPAN.equation EM {color: red;}

SPAN.program {font-family: monospace;}
SPAN.rw {font-family: monospace; font-style: italic;}

lambda {
    font-family: "FreeMono", "Courier New", "Rockwell", monospace;
    color: #d24d15;
    font-weight: lighter;
}

.biglambda {
  display: flex;
  width: 100%;
  line-height: 1em; !important
}

.biglambdacontent {
  font-family: "FreeMono", "Courier New", "Rockwell", monospace;
  font-size:32px;
  background-color: #d24d15;
  color: black;
  font-weight: lighter;
  display: flex;
  flex: 1;
  line-height: 1em; !important
}

.biglambdacontent::after {
  content: ' ';
  background-image: linear-gradient(60deg,
    #d24d15 10% 90%,
    /* hsl(60, 100%, 50%) 10% 20%, STRIPEY RAINBOW
    hsl(120, 100%, 50%) 20% 30%,
    hsl(180, 100%, 50%) 30% 40%,
    hsl(210, 100%, 50%) 40% 50%,
    hsl(240, 100%, 50%) 50% 60%,
    hsl(270, 100%, 50%) 60% 70%,
    hsl(300, 100%, 50%) 70% 80%,
    hsl(360, 100%, 50%) 80% 90%, */
    #5f4f43 90% 100%
  );
  display: block;
  width: 100%;
  box-sizing: inherit;
  flex: 1;
}

.biglambdacontent::before {
  content: ' ';
  background-image: linear-gradient(60deg,
    #5f4f43 0% 45%,
    /* hsl(60, 100%, 50%) 10% 20%, STRIPEY RAINBOW
    hsl(120, 100%, 50%) 20% 30%,
    hsl(180, 100%, 50%) 30% 40%,
    hsl(210, 100%, 50%) 40% 50%,
    hsl(240, 100%, 50%) 50% 60%,
    hsl(270, 100%, 50%) 60% 70%,
    hsl(300, 100%, 50%) 70% 80%,
    hsl(360, 100%, 50%) 80% 90%, */
    #d24d15 45% 100%
  );
  display: block;
  width: 10%;
  box-sizing: inherit;
  flex: .05;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.content {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.container {
  margin:  0 auto;
  padding-top: 1rem;
  flex-direction: column;
  max-width: 864px;
}

h1 {
  font-family: "FreeMono", "Courier New", "Rockwell", monospace;
  color: #d24d15;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
  font-size: 8px;
  font-style:italic;
  color: #D2B48C;
}

sidebar {
	font-family: Gill Sans MT, Gill Sans, Gill Sans Std, Verdana, Bitstream Vera Sans,sans-serif;
	letter-spacing: 2px;
	font-size: 1.2rem;
}

HTML {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 100%;
}

#pdfdisplay {
	height: 70vh;
}
