/* syntax highlighting import */
@import url(fruity.css);

BODY {
  font-size: 13pt;
  color: white;
  background-color: #5f4f43;
  padding-left: 2em;
  padding-right: 5%;
  padding-bottom: 5%;
}

li {
  max-width: 90ex;
}

th, td {
  font-size: 8pt;
  color: white;
}

a {
  cursor: pointer;
  cursor: hand;
  color: #f37320;
  text-decoration: none;
  target: _blank;
  rel: "noopener noreferrer";
}

a:not(.nohover):hover {
  background-color: #300A24;
  color: #BBB;
}

H1 {color: #dd4814;}
H2 {color: #dd4814;}
H3 {
    color: #dd4814;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.05em;
}

code,
.code,
pre {
  font-family: "FreeMono", "Courier New", monospace;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 0.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: pre-wrap;
}

div {
	font-size: 13px;
	line-height: 1.8em;
}

img {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    border: solid 0.15em #d24d15;
}

figcaption {
    font-size: .8em;
    color: #f37320;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    border: solid 0.15em #d24d15;
    border-top: 0;
    background-color: #5C4033;
    height: 1em;
    line-height: .8em;
    margin-top:-.7em;
    padding-top: .4em;
    padding-bottom: .2em;
}

table > thead > tr > th > img {
    font-size: .8em;
    color: #d24d15;
    align: center;
    width: 350px;
    display: block;
    text-align: center;
    border: solid 0.2em #d24d15;
}

table > tbody > tr > td > em {
    font-size: 1em;
    color: #f37320;
    width: 350px;
    display: table-caption;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    border: solid 0.15em #d24d15;
    border-top: 0;
    background-color: #5C4033;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
}

th {
  border-top: 0px;
  border-bottom: 0px;
  border-spacing: 0;
  padding: 0px;
  padding-right: 5px;
  vertical-align: bottom;
}

td {
  border-top: 0px;
  border-bottom: 0px;
  border-spacing: 0;
  padding: 0px;
  padding-right: 5px;
  vertical-align: top;
}

rw {font-style: italic; color: #602020;}
eqn {font-style: italic; color: #202080;}

DIV.equation {font-style: italic; color: #202080; margin: 16px 0px 16px 0px;}
DIV.equation EM {color: red;}

SPAN.equation {font-style: italic; color: #202080;}
SPAN.equation EM {color: red;}

SPAN.program {font-family: monospace;}
SPAN.rw {font-family: monospace; font-style: italic;}

lambda {
    font-family: "FreeMono", "Courier New", "Rockwell", monospace;
    color: #d24d15;
    font-weight: lighter;
}

biglambda {
    font-family: "FreeMono", "Courier New", "Rockwell", monospace;
    font-size:32px;
    color: #d24d15;
    font-weight: lighter;
}

.container {
  max-width:  60rem;
  margin:  0 auto;
  padding-top: 1rem;
}

h1 {
    font-family: "FreeMono", "Courier New", "Rockwell", monospace;
    color: #d24d15;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: left;
  font-size: 8px;
  font-style:italic;
  color: #D2B48C;
}

sidebar {
	font-family: Gill Sans MT, Gill Sans, Gill Sans Std, Verdana, Bitstream Vera Sans,sans-serif;
	letter-spacing: 2px;
	font-size: 1.2rem;
}

HTML {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 100%;
}

#pdfdisplay {
	height: 70vh;
}
