<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4" >
    <img src="{{ site.baseurl }}images/me.jpg" alt="me" style="border-radius: 35px;"></img>
    <h6 style="display: inline;font-size:70%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Photo Credit: Hollis Harrington</h6>
    <p>
      <!--strong>Name: </strong> Anis Kallel <br/-->
      <strong>Home Town: </strong> Henderson, NY <br/>
      <strong>School: </strong> University of Rochester '17 <br/> 
      <strong>Majors: </strong> Computer Science (B.S) and English Literature (B.A) <br/>                  
      </p>
  <span class="glyphicons glyphicons-star"></span>
  </div>
  
  <div class="col-md-8">
    <p>
    <br><br>
      My name is Nathan, You can find my resume     <a href="{{ site.baseurl }}public/Nathan_Contino_Resume.pdf"> [ here ]</a>
      . Feel free to connect with me on LinkedIn.
    </p>
    <p>
      <strong>Career interest:</strong>
      I find program management fascinating as it enhances leadership and communication skills while being challenging on a technical level, and that is the reason why I am considering it as a career path. I am also interested in software engineering positions.   </p>
    <p> 
      <strong>Hobbies:</strong>   
       Someone told me once to never do the things I am too comfortable doing, and to try to pick up different skills or work on projects outside my comfort zone. I try to live by that advice and I welcome any suggestions!    </p>
    <p>   
       My hobbies include coffee, reading, hiking, biking, and snake charming.</p>
    <p>
    </p>  
  </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
