<section id="about" class="about">
  <div class="container">
    <div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src="{{ site.baseurl }}img/me.jpg" width="150" height="200">
            <h2 class="featurette-heading">Nathan Contino:
                <span class="text-muted">University of Rochester '17</span>
            </h2>
            <h4>
              <strong>Majors: </strong> Computer Science (B.S) and English Literature (B.A) <br/>       
                <p>My name is Nathan, You can find my resume     
                <a href="{{ site.baseurl }}public/Nathan_Contino_Resume.pdf"> [ here ]</a>. Feel free to connect with me on LinkedIn.</p>
                <strong>Career interest:</strong>
                  I love programming and algorithmic design, but I can't help but feel like there are issues with the field that we've ignored for far too long. I've noticed a significant gap in communication skills between experienced computer scientists and developing computer scientists even at the collegiate level. I think the industry as a whole needs to change the way they think about documentation and teaching, since people can only be at their best if everyone is on the same page.
                </p>
                <strong>Hobbies:</strong>   
                  Life is only fun if you live on the edge of your comfort zone. So I try to stay open minded about pretty much everything!</p>
                <p>   
                  My hobbies include coffee, reading, hiking, biking, and snake charming.</p>
            </h4>  
          </div>
        <hr class="featurette-divider">
  <!-- /.container -->
</section>
