--bg: #AF8C6D;
--code-bg: #300A24;
--accent: #5E2750;
--headeraccent: #77216F;
--main: #5E2750;
--mainalternative: #D24D15;
--textcolor: black;
--code-textcolor: var(--mainalternative);
--mutedtextcolor: #333;
--highlightcolor: #3C0530;
--hero: #D24D15;
--menucolor: #8E6D55;
--theme-toggle-label: "🌚";
color: var(--textcolor);