<header id="top" class="header">
<div class="content">
	<div id="large-header" class="large-header">
		<canvas id="demo-canvas"></canvas>
		<h1 class="main-title">Nathan <span class="thin">Contino</span></h1>
		<h3>Computer Science &amp; English</h3>
		<br>
		<a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
	</div>
	<div class="codrops-top clearfix">
		<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/OffCanvasMenuEffects/"><span>Previous Demo</span></a>
		<a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=20153"><span>Back to the Codrops Article</span></a>
	</div>
	<div class="codrops-header">
		<h1>Animated Background Headers <span>Examples for creative website header animations using Canvas and JavaScript</span></h1>
		<nav class="codrops-demos">
			<a class="current-demo" href="index.html">Demo 1</a>
			<a href="index2.html">Demo 2</a>
			<a href="index3.html">Demo 3</a>
			<a href="index4.html">Demo 4</a>
		</nav>
	</div>
</div>
</header>
