:root {
  {% include dark.css %}
}
.light {
  {% include light.css %}
}

/* theme switcher */
.theme-toggle span {
  display: none;
}
.theme-toggle:after {
  content: var(--theme-toggle-label);
  transform: skewX(-30deg);
}

@font-face {
  font-family: 'Monaco';
  src: url('/_stylesheets/Monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier New';
  src: url('/_stylesheets/Courier New.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  --sans-font: Monaco, "Ubuntu Mono", "Garamond", "Bookman", "Palatino", sans-serif;
  --mono-font: Consolas, "Courier New", Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
  font-family: var(--sans-font);
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
  max-width: 100vw;
  font-size: .9rem;
  overflow-wrap: break-word;
  margin: 0px;
  overflow-x: hidden !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 500;
}

a {
  cursor: pointer;
  cursor: hand;
  color: var(--main);
  text-decoration: none;
  target: _blank;
  rel: "noopener noreferrer";
}

a:not(.nohover):hover {
  background-color: var(--accent);
  color: #BBB;
}

blockquote {
  margin: 0 1em 0 0.25em;
  padding: 0 .75em 0 1em;
  border-left: 1px solid var(--mainalternative);
  border-right: 0px solid var(--mainalternative);
}

hr {
  border: none;
  border-top: 1px solid var(--mainalternative);
  color: var(--mainalternative);
  transform: skewX(30deg);
  height: 1px;
  margin-left: 20px;
  margin-right: 20px;
}

hr::after {
  content: 'ยง';
}

footer > div {
  margin-right: 17px;
  transform: skewX(30deg);
  border: 1px solid var(--mainalternative);
  width: fit-content;
  right: 0;
  position: absolute;
  margin-top: -5px;
}

footer > div > div {
  transform: skewX(-30deg);
  margin-right: 5px;
  margin-left: 5px;
  color: var(--mutedtextcolor);
}

code {
  font-family: "Courier New", "FreeMono", monospace;
  font-weight: bold;
}

pre > code {
  font-weight: bold;
  border-radius: 0.5em;
  padding: 5px;
  white-space: pre;
  overflow: scroll;
  display: block;
  background-color: var(--code-bg);
  color: var(--code-textcolor);
}

/* lambda bash prompt for console code snippets*/

.language-zsh code::before {
  content: "ฮป";
  color: var(--code-bg);
  position: absolute;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 0.5em;
  left: -0.3em;
}

.language-zsh .highlight:has(code) {
  padding-left: 1em;
}

.language-zsh:has(code) {
  border-radius: 0.5em;
}

.language-zsh code {
  border-radius: 0em 0.5em 0.5em 0em;
}

.highlight {
  background-color: var(--mainalternative);
}

details {
  border-radius: 0.5em;
  border: 1px solid var(--main);
  padding: 0.5em;
}

p {
  line-height: 1.8em;
}

li {
  line-height: 1.8em;
}

.hero-accompaniment {
  flex: 2;
}

.hero-photo-container {
  transform: skewX(30deg);
  border: solid 0.15em var(--mainalternative);
  flex: 1;
  position: relative;
  display: flex;
  height: 280px;
  width: 200px;
  overflow: hidden;
  box-shadow: 0px 5px 30px 10px var(--menucolor);
}

.hero-photo {
  transform: translateX(-100px);
  border: 0;
  border-radius: 0;
  object-fit: contain;
  position: absolute;
  width: 475px;
  top: -110px;
  left: -130px;
}

.hero-accompaniment {
  margin-right: 40px;
}

.other-hero-photo-container {
  transform: skewX(-30deg);
  border: solid 0.15em var(--mainalternative);
  flex: 1;
  position: relative;
  display: flex;
  height: 220px;
  width: 200px;
  overflow: hidden;
  box-shadow: 0px 5px 30px 10px var(--menucolor);
}

.other-hero-photo {
  transform: skewX(30deg);
  border: 0;
  border-radius: 0;
  object-fit: contain;
  position: absolute;
  width: 475px;
  top: -110px;
  left: -150px;
}

img {
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  border: solid 0.15em var(--mainalternative);
  object-fit: cover;
}

figure {
  width: 120%;
  align-self: center;
  font-size: .8rem;
  padding-bottom: 2em;
}

figure img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  figure {
    width: 98vw;
    margin: 0;
    padding-top: 10px;
    padding-right: 3px;
  }
}

figcaption {
  color: var(--mainalternative);
  font-size: .8rem;
  min-width: 100%;
  display: block;
  text-align: center;
  border-radius: 0px 0px 7px 7px;
  border: solid 0.15em var(--mainalternative);
  border-top: 0;
  background-color: var(--accent);
  height: 1em;
  line-height: 1.8em;
  font-style: italic;
  margin-top:-.7em;
  padding-top: .4em;
  padding-bottom: .2em;
  height: 100%;
}

table > thead > tr > th > img {
  color: var(--mainalternative);
  align: center;
  width: 350px;
  display: block;
  text-align: center;
  border: solid 0.2em var(--mainalternative);
}

table > tbody > tr > td > em {
  color: var(--main);
  width: 350px;
  display: table-caption;
  text-align: center;
  border-radius: 0px 0px 7px 7px;
  border: solid 0.15em var(--mainalternative);
  border-top: 0;
  background-color: var(--accent);
}

table {
  color: var(--mainalternative);
  border: solid 0.1em var(--mainalternative);
  width: 100%;
  border-radius: 7px 7px 7px 7px;
  border-collapse: collapse;
}

td {
  border: solid 0.1em var(--mainalternative);
  color: var(--textcolor);
  font-size: .8em;
  padding: 5px;
}

th {
  vertical-align: middle;
  background-color: var(--accent);
  color: var(--mainalternative);
  border: solid 0.1em var(--mainalternative);
}


rw {font-style: italic; color: #602020;}
eqn {font-style: italic; color: #202080;}

DIV.equation {font-style: italic; color: #202080; margin: 16px 0px 16px 0px;}
DIV.equation EM {color: red;}

SPAN.equation {font-style: italic; color: #202080;}
SPAN.equation EM {color: red;}

SPAN.program {font-family: monospace;}
SPAN.rw {font-family: monospace; font-style: italic;}

lambda {
  font-family: "Courier New", "FreeMono", "Rockwell", monospace;
  color: var(--mainalternative);
  font-weight: lighter;
}

.biglambda {
  display: flex;
  max-width: 1000px;
  transform: skewX(30deg);
  background-color: var(--mainalternative);
  margin-left: 10px;
  margin-right: 6px;
  box-shadow: 0px 5px 30px 10px var(--menucolor);
}

.biglambdacontent {
  font-family: "Courier New", "FreeMono", "Rockwell", monospace;
  font-size: 2rem;
  max-width: 1000px;
  color: #000;
  font-weight: lighter;
  line-height: 1em; !important;
  flex: 1;
  display: flex;
  transform: skewX(-30deg);
  overflow-wrap: anywhere;
  box-shadow: 10px var(--bg);
  margin-left: 20px;
  margin-right: 20px;
}

/* small screens, don't bother with the fancy top formatting */
@media only screen
and (max-width: 420px) {
  .biglambda {
    width: 100%;
    transform: none;
    margin-left: 0px;
    height: 1.5rem;
  }
  .biglambdacontent {
    font-size: 1.5rem;
    transform: none;
    margin-left: 0px;
    flex-shrink: 1;
    padding-left: 5px;
  }
  .biglambdacontent a {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  mobile-menu {
    top: 1.5rem !important;
  }
}


*, ::before, ::after {
  box-sizing: inherit;
}

.content {
  display: flex;
  padding-left: 2px;
  padding-right: 2px;
}

@media only screen and (min-width: 601px) {
  .content {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.container {
  margin:  0 auto;
  flex-direction: column;
  max-width: 864px;
  text-wrap: pretty;
  hyphens: auto;
}

/* rules for screens 740 pixels wide and below */
@media only screen
and (max-width : 740px) {
menu {
  visibility: hidden;
  width: 0px;
}
}

/* rules for screens over 740 pixels wide */
@media only screen
and (min-width : 741px) {
mobile-menu {
  visibility: hidden;
}
mobile-menu-toggle {
  visibility: hidden;
  display: block;
}
}

menu {
  max-width: 850px;
  font-size: 1rem;
  margin-top: 0px;
  font-family: var(--mono-font);
  margin-bottom: 0px;
  position: sticky;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 28px;
  padding-right: 17px;
}

vdiv {
  border-left: 5px solid var(--mainalternative);
  transform: skewX(30deg);
}

menu a {
  border: 1px solid var(--main);
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--bg);
  display: grid;
  place-items: center;
  text-align: center;
  transform: skewX(30deg);
  margin-top: 1px;
}

menu a span {
  transform: skewX(-30deg);
}

menu a svg {
  transform: skewX(-30deg);
}

mobile-menu {
  position: absolute;
  overflow: hidden;
  z-index: 500;
  font-size: 2rem;
  display: flex;
  margin-top: 0%;
  line-height: 3rem;
  font-family: var(--mono-font);
  top: 1em;
  right: 3px;
  flex-direction: row-reverse;
  transition: all .3s ease-in-out;
  width: 95%;
}

#menuToggle {
  display: none;
}
#menuToggle:checked ~ mobile-menu {
  max-height: 0%;
  max-width: 0%;
}

mobile-menu a {
  padding-right: 5%;
  overflow-wrap: normal;
  display: inline-block;
  padding-left: 5%;
  transition: all .3s ease-in-out;
  white-space: nowrap;
  flex-grow: 1;
}

.mobile-menu-row {
  display: flex;
}

mobile-menu .btn-rss {
  flex-grow: 0;
}

mobile-menu-toggle {
  display: block;
  flex: 1;
}

mobile-menu-toggle>label {
  color: black;
  font-size: 1.2rem;
  white-space: nowrap;
  float:right;
}

ul {
  padding-left: 2em;
} 

mobile-menu ul {
  text-align: right;
  overflow: hidden;
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
  background-color: var(--menucolor);
  border-left: 1px solid var(--mainalternative);
  border-right: 1px solid var(--mainalternative);
  border-bottom: 0px solid var(--mainalternative);
  width: 100%;
  max-height: 0px;
  transition: all .5s ease-in;
}

mobile-menu ul li {
  border-top: 1px solid var(--mainalternative);
  width: 100%;
}

/* first menu element doesn't need a top border to separate it from anything previous */
mobile-menu ul > :first-child {
  border-top: 1px solid var(--menucolor);
}

mobile-menu input:checked ~ ul {
  border-bottom: 1px solid var(--mainalternative);
  max-height: 95vh;
}

mobile-menu input:checked ~ ul li {
}

h1 {
  font-family: "Courier New", "FreeMono", "Rockwell", monospace;
  font-size: 1.8rem;
  color: var(--headeraccent);
  margin-bottom: 0px;
  margin-top: 10px;
}
h2 {
  font-family: "Courier New", "FreeMono", "Rockwell", monospace;
  font-size: 1.6rem;
  color: var(--headeraccent);
  margin-bottom: 0px;
  margin-top: 5px;
}
h3 {
  font-family: "Courier New", "FreeMono", "Rockwell", monospace;
  font-size: 1.4rem;
  color: var(--headeraccent);
  margin-bottom: 0px;
  margin-top: 5px;
}

thead {
  font-size: 1.1rem;
  color: var(--headeraccent);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: right;
  font-size: .5rem;
  font-style:italic;
  color: var(--bgtext);
}

#pdfdisplay {
  height: 70vh;
}

nav {
  display:inherit;
}

.one-column {
  display: flex;
  text-align:center;
}

.two-column {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .two-column, .two-column.reverse {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.two-column.reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-device-width: 480px), 
       screen and (-webkit-min-device-pixel-ratio: 2),
       screen and (device-width: 768px) {
  body {
    -webkit-text-size-adjust:none;
  }
  .hero-photo {
    transform: skewX(-30deg);
  }
  .hero-photo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 280px;
  }
  .other-hero-photo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 220px;
  }
}

/* blog post nav buttons */
.PageNavigation {
  display: flex;
  gap: 10%;
  flex-direction: row;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  margin: 1em 0;
  border: 1px solid var(--main);
}

.PageNavigation .next {
  flex-direction: row-reverse;
}

.PageNavigation .next::before {
  content: ">>";
}

.PageNavigation .prev::before {
  content: "<<";
}

/* no style links -- used for nav header */
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

/* blog post folder-ish style */

.blog-post {
  border: 1px solid var(--mainalternative);
  padding-left: 5px;
  padding-bottom: 0px;
  margin-bottom: 25px;
}

blog-date {
  display: flex;
}

blog-date > div {
  background-color: var(--mainalternative);
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px;
  z-index: 10;
}

blog-date::after {
  content: ' ';
  background: var(--mainalternative);
  flex: 0 20px;
  transform: skewX(30deg) translateX(-10px);
  border-left: 20px var(--mainalternative);
  z-index: 9;
}
