html {
  --sans-font: "Ubuntu", "Monaco", "Courier New", "Courier", "Garamond", "Bookman", "Palatino", sans-serif;
  --mono-font: "Ubuntu Mono", "Courier", monospace;
  font-size: 14px;
  font-family: var(--sans-font);
}

body {
  background-color: #FFF;
  max-width: 100vw;
  font-size: .85rem;
  overflow-wrap: break-word;
  margin: 0 auto;
  flex-direction: column;
  max-width: 864px;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
  width: 100%;
}

ul {
  margin-top: 5px;
  padding-left: 2em;
}

ul > li > ul {
  margin-top: 3px;
  padding-left: 7px;
}

hr {
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #E95420;
  margin-top: -1px;
}

code,pre {
  color: #000;
}

th {
  font-size: 1.1rem;
  color: #77216F;
}

h1,h2,h3,h4,h5 {
  font-family: var(--mono-font);
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: bold;
}

topper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

topper-side {
  padding-top:10px;
  line-height: 1.5rem;
  display: inline-flex;
  flex-direction: column;
}

name {
  flex: 2;
  font-size: 4rem;
  font-family: var(--mono-font);
  color: #E95420;
}

site {
  font-size: .8rem;
  text-align: right;
  font-family: var(--mono-font);
}

mail {
  font-size: .8rem;
  text-align: right;
  font-family: var(--mono-font);
}

phone {
  text-align: right;
  font-family: var(--mono-font);
}