<td width="20%" valign="top" style="text-align:right; padding-right:3%" >
<sidebar>
<br>
By NATHAN CONTINO<br><br><br>
<a href="/index.html" style="cursor: pointer; cursor: hand; color: #f37320; text-decoration: none;">ABOUT</a><br><br>
<a href="/_pages/blog.html" style="cursor: pointer; cursor: hand; color: #f37320; text-decoration: none;">BLOG</a><br><br>
<a href="/_pages/writing.html" style="cursor: pointer; cursor: hand; color: #f37320; text-decoration: none;">WRITING</a><br><br>
<a href="/_pages/resume.html" style="cursor: pointer; cursor: hand; color: #f37320; text-decoration: none;">RESUME</a><br><br>
<a href="/_pages/projects.html" style="cursor: pointer; cursor: hand; color: #f37320; text-decoration: none;">PROJECTS</a><br><br>
<a class="btn btn-rss" href="/feed.xml" style="cursor: pointer; cursor: hand; color: #f37320; text-decoration: none;" target="_blank">RSS</a>
</sidebar>
</td>