<!DOCTYPE html>

<html>
<head>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d6785e">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<TITLE>{{ page.title }}</TITLE>
<META http-equiv="pragma" content="no-cache" >
  <LINK rel=stylesheet type="text/css"
        href="/_stylesheets/lite.css" >
</head>

<body style="margin: 0px;">
  <div class="container">
  <header>
    <nav>
      <biglambda>&#955; Latitudinarians</biglambda> | 
      <a href="/index.html">ABOUT</a> -
      <a href="/_pages/blog.html">BLOG</a> -
      <a href="/_pages/techblog.html">TECH BLOG</a> -
      <a href="/_pages/writing.html">WRITING</a> -
      <a href="/_pages/resume.html">RESUME</a> -
      <a href="/_pages/projects.html">PROJECTS</a> |
      <a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>
    </nav>
  </header>
  <div id="page-container">
    <div id="content-wrap">

<table width="100%" cellpadding="2%" cellspacing="0" border="0">
<tr>

<!-- ============ RIGHT COLUMN (CONTENT) ============== -->
<td width="80%" valign="top">

<!-- used to load all actual content (about page, blog, resume, etc) -->
<div class="content container">
	{% if page.title == "Lambda Latitudinarians by Nathan Contino" %}
    <!-- no title display! -->
  {% else %}
    <H1>{{ page.title}}</H1>
  {% endif %}
  	{{ content }}
</div>

</td></tr>
</table>
</div>
<center>
<footer id="footer">Created by Nathan Contino. Last edited: {{ site.time | date: '%B %d, %Y' }}</footer>
</center>
 </div>
</div>
</body>
</html>



























  
  
  
  
