<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d6785e">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="{% if page.excerpt %} {{ page.excerpt | normalize_whitespace | replace: '</li> </ul>', '' | replace: '</li>', ';' | strip_html }} {% else %} {{ site.description }} {% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://raw.githubusercontent.com/nathan-contino/images/main/images/PavementEnds.webp">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/nathan-contino/images/main/images/PavementEnds.webp">
    <meta property="og:image:width" content="700">
    <meta property="og:image:height" content="700">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="keywords" content="lambda, latitudinarians, disquisitions, adventure, blog, nathan contino, adventure blog, nathan, contino, nathan contino">
    <TITLE>{{ page.title | strip_html }}</TITLE>
    <META http-equiv="pragma" content="no-cache">
    <LINK rel=stylesheet type="text/css" href="/_stylesheets/lite.css">
    <LINK rel=stylesheet type="text/css" href="/_stylesheets/fruity.css" >
    <script>
      // toggles the site theme between dark and light
      function toggleTheme() {
        // fetch the theme from local storage (if it exists)
        var theme = localStorage.getItem('theme');
        // if theme them has never been set, or is light, set the theme to the dark symbol in local storage to change it
        if (localStorage.getItem('theme') !== null && theme == '🌝' ) {
          localStorage.setItem('theme', '🌚');
        } else {
          // otherwise, the theme is currently set to dark, so set the theme to the light symbol in local storage to change it
          localStorage.setItem('theme', '🌝');
        }
        // finally, toggle the light option off or on the body to change the display of the theme
        document.body.classList.toggle('light');
      }

      // initialises the site theme display
      // of key interest here: from the user's perspective, the site defaults to the light theme...
      // ...unless your browser uses prefers-color-scheme to ask for a dark theme, or you use firefox (statistically, firefox users prefer dark themes)
      // from the site's perspective, we default to a dark theme, but toggle it to a light theme on load if the user doesn't ask for dark.
      // why do this? To prevent an annoying light 'flash' for dark theme users. light theme users don't really notice or care if there's a dark anti-flash.
      function initTheme() {
        // fetch the theme from local storage (if it exists)
        var theme = localStorage.getItem('theme');

        // if the theme has been set to light (null check to short circuit if not set)
        if(theme !== null && theme === '🌝'
              // if we can use matchMedia and the browser supports the dark color scheme
              || (window.matchMedia && !window.matchMedia('(prefers-color-scheme: dark)').matches && theme !== '🌚')
              // if the user is using firefox and the theme has not explicitly been set to dark mode
              || (!navigator.userAgent.includes('Firefox') && theme !== '🌚')) {
          // toggles the theme from the default dark mode to the light version (which actually _shows_ by default to many users)
          document.body.classList.toggle('light');
        }
      }
    </script>
  </head>

  <!-- set the theme to dark and toggle the theme button icon if we detect a (dark) theme setting in local storage OR if the user's browser asks for dark OR if the user is using a Mozilla browser -->
  <body>
    <script type="text/javascript">initTheme()</script>
    <div style="display:none;">
      <svg  fill="var(--main)" version="2.0" id="rss" role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <title>subscribe to updates via Atom or RSS</title>
        <g id="lines__x003C_Group_x003E_">
          <g id="circle">
            <path d="M125.896,398.928c0,33.683-27.308,60.999-61.022,60.999c-33.684,0-61.006-27.316-61.006-60.999
              c0-33.729,27.322-61.038,61.006-61.038C98.588,337.89,125.896,365.198,125.896,398.928z"/>
          </g>
          <g>
            <g>
              <path d="M0,229.636c0,8.441,6.606,15.379,15.036,15.809c60.318,3.076,100.885,25.031,138.248,62.582
                c36.716,36.864,60.071,89.759,64.082,137.769c0.686,8.202,7.539,14.524,15.77,14.524h56.701c4.344,0,8.498-1.784,11.488-4.935
                c2.992-3.15,4.555-7.391,4.333-11.729c-8.074-158.152-130.669-278.332-289.013-286.23c-4.334-0.217-8.564,1.355-11.709,4.344
                C1.792,164.759,0,168.908,0,173.247V229.636z"/>
            </g>
          </g>
          <g>
            <g>
              <path d="M0,73.411c0,8.51,6.713,15.482,15.216,15.819c194.21,7.683,350.315,161.798,358.098,355.879
                c0.34,8.491,7.32,15.208,15.818,15.208h56.457c4.297,0,8.408-1.744,11.393-4.834c2.985-3.09,4.585-7.258,4.441-11.552
                C453.181,199.412,261.024,9.27,16.38,1.121C12.089,0.978,7.925,2.583,4.838,5.568C1.751,8.551,0,12.661,0,16.954V73.411z"/>
            </g>
          </g>
        </g>
    </svg>
    </div>
    <div class="container">
      <header>
        <nav>
          <div class="biglambda">
            <div class="biglambdacontent">
              <a class="nostyle nohover" href="/">&#955; Latitudinarians</a>
              <mobile-menu-toggle>
                <label for="menuToggle"><span>&#9660; MENU</span></label>
              </mobile-menu-toggle>
            </div>
          </div>
          <menu>
            <a href="/"><span>ABOUT</span></a>
            <vdiv> </vdiv>
            <a href="/blog/"><span>ADVENTURE BLOG</span></a>
            <a class="btn btn-rss" href="/feed/blog.xml" target="_blank" title="subscribe to blog updates via RSS-compatible Atom feed">
              <svg width=".8em" height=".8em" viewBox="0 0 461.432 461.432" style="display:inline-block;" alt="RSS" title="subscribe to blog updates via RSS-compatible Atom feed">
                <use href="#rss" />
              </svg>
            </a>
            <vdiv> </vdiv>
            <a href="/techblog/"><span>TECH BLOG</span></a>
            <a class="btn btn-rss" href="/feed/techblog.xml" target="_blank" title="subscribe to tech blog updates via RSS-compatible Atom feed">
              <svg width=".8em" height=".8em" viewBox="0 0 461.432 461.432" style="display:inline-block;" alt="RSS" title="subscribe to tech blog updates via RSS-compatible Atom feed">
                <use href="#rss" />
              </svg>
            </a>
            <vdiv> </vdiv>
            <a href="/writing/"><span>WRITING</span></a>
            <a href="/resume/"><span>RESUME</span></a>
            <a href="/reading-log/"><span>BOOK LOG</span></a>
            <a href="/projects/"><span>PROJECTS</span></a>
            <vdiv> </vdiv>
            <a class="theme-toggle" alt="toggle site theme" title="toggle site theme" id="theme-toggle" onclick="toggleTheme()"><span></span></a>
          </menu>
          <mobile-menu>
            <input type="checkbox" id="menuToggle">
            <ul>
              <li class="mobile-menu-row">
                <a href="/">ABOUT</a>
              </li>
              <li class="mobile-menu-row">
                <a class="btn btn-rss" style="text-align: left;" href="/feed/blog.xml" target="_blank">
                  <svg width=".8em" height=".8em" viewBox="0 0 461.432 461.432" style="display:inline-block;" alt="RSS" title="subscribe to tech blog updates via RSS-compatible Atom feed">
                    <use href="#rss" />
                  </svg>
                </a>
                <a href="/blog/">ADVENTURE BLOG</a>
              </li>
              <li class="mobile-menu-row">
                <a class="btn btn-rss" style="text-align:left;" href="/feed/techblog.xml" target="_blank"> 
                  <svg width=".8em" height=".8em" viewBox="0 0 461.432 461.432" style="display:inline-block;" alt="RSS" title="subscribe to tech blog updates via RSS-compatible Atom feed">
                    <use href="#rss" />
                  </svg>
                </a>
                <a href="/techblog/">TECH BLOG</a>
              </li>
              <li class="mobile-menu-row">
                <a href="/writing/">WRITING</a>
              </li>
              <li class="mobile-menu-row">
                <a href="/resume/">RESUME</a>
              </li>
              <li class="mobile-menu-row">
                <a href="/reading-log/">BOOK LOG</a>
              </li>
              <li class="mobile-menu-row">
                <a href="/projects/">PROJECTS</a>
              </li>
              <li class="mobile-menu-row">
                <a class="theme-toggle" alt="toggle site theme" title="toggle site theme" id="theme-toggle-mobile" onclick="toggleTheme()"></a>
              </li>
            </ul>
          </mobile-menu>
        </nav>
      </header>
      <div id="page-container">
        <div id="content-wrap">

          <!-- used to load all actual content (about page, blog, resume, etc) -->
          <div class="content container">
          	{% if page.title == "Lambda Latitudinarians by Nathan Contino" %}
              <!-- no title display! -->
            {% else %}
              <H1>{{ page.title }}</H1>
            {% endif %}
            {% if page.date %}
              <span class="date">
                <blockquote><i>{{ page.date | date: '%B %d, %Y' }}</i></blockquote>
              </span>
            {% endif %}
            {{ content }}
          </div>

          {% assign cat = page.categories[0] %}

          {% for post in site.categories[cat] %}
            {% if post.url == page.url %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
            {% endif %}
          {% endfor %}

          {% for post in site.categories[cat] %}
            {% if post_index0 == forloop.index %}
              {% assign next_post = post %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
              {% assign prev_post = post %}
            {% endif %}
          {% endfor %}

          <div class="PageNavigation">
            {% if prev_post %}
            <a class="prev" href="{{ prev_post.url }}"> {{ prev_post.title | strip_html  }}</a>
            {% endif %}
            {% if next_post %}
            <a class="next" href="{{ next_post.url }}"> {{ next_post.title | strip_html  }} </a>
            {% endif %}
          </div>
        </div>

        <footer id="footer">
          <hr>
          <div>
            <div>
              Created by Nathan Contino. Licensed with <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">CC-SA</a>. Last edited: {{ site.time | date: '%B %d, %Y' }}
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>



























  
  
  
  
