<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
<link type="image/x-icon" href="/favicon.ico" rel="icon" />
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />

<TITLE>{{ page.title }}</TITLE>
<META http-equiv="pragma" content="no-cache" >
  <LINK rel=stylesheet type="text/css"
        href="/_stylesheets/lite.css" >
</head>

<body style="margin: 0px;">

<table width="100%" cellpadding="2%" cellspacing="0" border="0">
<tr>
  {% include header.html %}
</tr>
<tr>
  {% include sidebar.html %}

<!-- ============ RIGHT COLUMN (CONTENT) ============== -->
<td width="80%" valign="top">

<!-- used to load all actual content (about page, blog, resume, etc) -->
<div class="content container">
	{% if page.title == "Lambda Latitudinarians by Nathan Contino" %}
    <!-- no title display! -->
  {% else %}
    <H1>{{ page.title}}</H1>
  {% endif %}
  	{{ content }}
</div>

</td></tr>
</table>
<center>
<footer valign="bottom">- Nathan Contino</footer></center>
</body>


</html>



























  
  
  
  
